body,
section,
h1,
p {
  margin: 0;
}

body {
  padding: 0;
  min-width: 800px;
  max-width: 1200px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
}

h1 {
  padding: 50px 0 0 30px;
  font-size: 50px;
  font-weight: 600;
}

li {
  padding: 5px 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
  
.header {
  height: 130px;
  background-color: black;
  color: white;
}

.main {
  height: 830px;
}

.summary {
  height: 170px;
  background-color: black;
  color: white;
}

.header_text {
  padding-left: 30px;
  font-size: 20px;
}
  
.about_me {
  padding-left: 30px;
  padding-top: 6vw;
  font-size: 18px;
}

.photo {
  float: right;
  position: relative;
  bottom: 75px;
  width: 300px;
  margin: 0 50px 50px;
  border: 5px solid white;
}

.left_section {
  float: left;
  padding: 0 30px;
  height: 660px;
  width: 300px;  
}

.contact,
.skills {
  padding: 0;
}
  
.contact_icon {
  display: inline-block;
}

.contact_icon:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
  
.contact_icon_img {
  width: 50px;
  height: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: black;
  color: white;
}

.rss_icon {
  background-color: white;
  width: 100px;
  height: 50px;
}

